<?xml version='1.0' encoding='utf-8'?>
<plugin id="backgroundapprun" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>backgroundAppRun</name>
  <js-module name="backgroundAppRun" src="www/backgroundAppRun.js">
    <clobbers target="cordova.plugins.backgroundAppRun" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="backgroundAppRun">
        <param name="android-package" value="backgroundapprun.backgroundAppRun" />
      </feature>
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
      <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <service android:name="backgroundapprun.makeSoundService" android:enabled="true" android:foregroundServiceType="mediaPlayback" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE"/>
    
      <!-- Ton service sonore existant -->
      <service
          android:name="${applicationId}.BackgroundSoundService"
          android:enabled="true"
          android:exported="false"/>

      <!-- Ton service existant -->
      <service
          android:name="${applicationId}.BackgroundService"
          android:enabled="true"
          android:exported="false"
          android:foregroundServiceType="mediaPlayback"/>

      <!-- NOUVEAU : Service pour upload + download -->
      <service
          android:name="${applicationId}.TransferService"
          android:enabled="true"
          android:exported="false"
          android:foregroundServiceType="dataSync"/>
          
        <service
          android:name="backgroundapprun.FFmpegService"
          android:enabled="true"
          android:exported="false"
          android:foregroundServiceType="mediaProcessing"/>
    </config-file>

    <framework src="androidx.work:work-runtime:2.8.1" />
    <source-file src="src/android/backgroundAppRun/backgroundAppRun.java" target-dir="src/backgroundapprun" />
    <source-file src="src/android/runService/runService.java" target-dir="src/backgroundapprun" />
    <source-file src="src/android/deleteFileWorker/DeleteFileWorker.java" target-dir="src/backgroundapprun" />
    <source-file src="src/android/makeSoundService/makeSoundService.java" target-dir="src/backgroundapprun" />
  </platform>
</plugin>
